{%extends 'dashboard/base.html'%}

{% block content-row %}
<div class="container">
<div class="card shadow mb-4">
    <div class="card-header">
        <strong><h5>Amandemen</h5></strong>
        <p>{{object.submission}}</p>
    </div>
    <div class="card-body">
        <div class="card p-4 mb-2">
            <p>Pengajuan: {{object.submission}}</p>
            <p>Dokumen Amandemen: <a href="{{ MEDIA_URL }}{{ object.amandement_document.url }}" target="_blank">Lihat / Unduh</a></p>
        </div>

      </div>
    </div>

</div>

{% endblock %}

