{%extends 'dashboard/base.html'%}

{% block content-row %}
<div class="container">
<div class="card">
    <div class="card-header">
        <strong><h3>{{object.title}}</h3></strong>
    </div>
    <div class="card-body">   
      <div class="col-sm-offset-3 col-sm-12">
            <p>Anda yakin ingin menghapus pengajuan ini ?</p>
            <form method="POST" action=".">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" name="submit" value="Hapus">
            </form>
          </div>   
    </div>
</div> 
</div>
{% endblock %}