{% extends "registration/base.html" %}

{% block navbar %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}

 <!-- Page Content -->


    <div class="container"><br><br>
      <div class="row">
        <div class="col-lg-6 mx-auto">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body text-center">
                {% load static %}
                <h2>You have logged out.</h2>
               <h2 class="text-center"><a href="{% url 'login'%}">Login</a></h2>

            </div>
          </div>
        </div>
      </div>
    </div>
  

{% endblock %}