{% extends "registration/base.html" %}

{% block navbar %}
{% include 'nav.html' %}
{% endblock %}

 {% block content %}

 <!-- Page Content -->

    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="col-lg-6 mx-auto">
        <div class="card-wrapper">
          <div class="card fat">
            <div class="card-body">
                           <h2>Forget Password</h2>
            <hr>
              <form action="" method="post">

                <div class="form-group">
                  <label for="email">E-mail</label><br>{% csrf_token %}
                 {% if form.email.errors %} {{ form.email.errors }} {% endif %}

                  {{ form.email }}
                </div>

                  <p class="form-text text-muted small">
                    If you click "Reset Password" button, we will send the instruction to your email.
                  </p>


                 <span class="input-group-btn"><button href="" type="submit" class="btn btn-form btn-outline-info"><i class="fa fa-key"></i>
                 Reset Password </button></span>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br>
  <br>

{% endblock %}