{% extends "dashboard/base.html" %}

{% block content-row %}

 <!-- Page Content -->


    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
                           <h6 class="text-center">Password sudah diganti. Silahkan Logout dan Login kembali menggunakan password baru.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}