{% extends "registration/base.html" %}

{% block navbar %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}

 <!-- Page Content -->


    <div class="container">
      <br>
<br>


      <div class="row">
        <div class="col-lg-6 mx-auto">
        <div class="card-wrapper">
          <div class="card">
            <div class="card-body">
                {% load static %}
                           <h3 class="text-center">Password has been changed</h3> <br>
            <a href="{% url 'login'%}">Re-login/a>

            </div>
          </div>
        </div>
      </div>


    </div>
     <br>
      <br>

  </div>


  <br>
  <br>
  <br>
  <br>
  <br>



{% endblock %}